{% extends 'base.html.twig' %}

{% block title %}Gestion des Restaurants{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
                    

		 


	    

        <div class="container">
			      <h3 class="card-header text-default">Ajouter Produit<a href="{{path('product')}}"  class="btn btn-primary"><span>List Produit</span></a></h3>
                   <div class="card-body mt-2 rounded">
                         {% for error in errors %}
                              <div class="alert alert-danger">
                                  {{ error.message}}
                              </div>
                         {% endfor %}
                        <form name="product" method="post" enctype="multipart/form-data">

                            {{ form_start(form) }}

                            <div id="product">
                            
                            <div class="form-group">
                            <label for="product_name" class="required">Name</label>
                                 {{ form_widget(form.name) }}           
                             </div>
                             <div class="form-group">
                            <label for="product_description" class="required">Description</label>
                                  {{ form_widget(form.description) }}
                                                  
                             </div>


                             <div class="form-group">
                            <label for="product_quantity" class="required">Quantity</label>
                                 {{ form_widget(form.quantity) }}
                                                  
                             </div>


                             <div class="form-group">
                            <label class="required" for="product_categorie">Categorie</label>
                                 {{ form_widget(form.categorie) }}
                                                  
                             </div>


                             <div class="form-group">
                            <label for="product_prix" class="required">Prix</label>
                                 {{ form_widget(form.prix) }}
                                                  
                             </div>

                              <div class="form-group">
                             <label class="form-check-label" for="product_ttc">Ajouter TVA</label>
                                 {{ form_widget(form.prix) }}
                                                  
                             </div>


                             <div class="form-group">
                             <label for="product_image">Image</label>
                                 {{ form_widget(form.image) }}
                                                  
                             </div>



                            <div class="form-group">
                            <button type="submit" id="product_save" name="product[save]" class="btn-primary btn">valider</button>
                            </div><input type="hidden" id="product__token" name="product[_token]" value="EEbFt5t73a4VSdi38xpPTIZGrcRMkH6eH1oiYsLBj3A">

                            </div>
                        </form>      


                     </div>
        </div>


{% endblock %}
